.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px yellow;
    margin: 10px;
    padding: 20px;
    background-color: $primary;

    width: 300px;
    
    &__img {
        width: 90%;
        object-fit: cover;
        border-radius: 20px;
    }

    &__btn-preview {
        @include button($secondary, $primary);
    }

    &__title {
        color: $secondary;
    } 
}