@font-face {
    font-family: 'BaskervvilleRegular';
    src: url('../fonts/Baskervville-Regular.ttf');
}

@font-face {
    font-family: 'BaskervvilleItalic';
    src: url('../fonts/Baskervville-Italic.ttf');
}

@font-face {
    font-family: 'BaskervvilleSC';
    src: url('../fonts/BaskervvilleSC-Regular.ttf');
}