@import './variables';
@import './mixins';
@import './fonts';
@import './banner';

body {
   margin: 0;
   padding: 0; 
   background-color: $secondary
}

main {
    margin: 0;
    padding: 0; 
    border: solid 5px black   
}

.navbar {
    @include navbar-styles;
}

